<nav class="navbar navbar-expand-lg navbar-light bg-primary margin-100">
  <a class="navbar-brand" href="/"><img src="/images/favicon.png" class="icon"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedContent"
    aria-controls="collapsedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsedContent">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>