<%- include ('partials/head.ejs', {title: 'Login page'}) %>
<%- include ('partials/nav.ejs') %>

<body>
  <% if (typeof error !== 'undefined' && error) { %>
  # ERROR #
  <% } %>
  <div class="col-sm-6 offset-1">
    <h2 class="padding-25">Login page</h2>
    <form method="POST" action="/signin" type="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>