<nav class="navbar navbar-expand-lg navbar-light bg-primary margin-100">
  <a class="navbar-brand" href="/"><img src="/images/favicon.png" class="icon"></a>

  <form class="navbar-nav ml-auto" method="POST" action="/signout">
    <button class="btn btn-sm" type="submit">
      <img src="/images/exit.svg" class="icon">
    </button>
  </form>
</nav>